#quarto-document-content {
  // font-size: 18pt;
  margin-bottom: 20vh;
  padding-bottom: 10vh;
  z-index: 1;
}

.small {
  font-size: 0.75em;
}

.big {
  font-size: 1.75em;
}

.giant {
  font-size: 3em;
}

/*-- highlight animation --*/

mark {
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
          animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #efeb14e0 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}


/*-- Closeread config --*/
